/* styles for the Courses component */
.search-bar {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  width: 900px;
  font-size: 16px;
}  

.courses-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; /* Center the cards */
  padding: 20px;  }
  
  .courses-list {
    list-style: none;
    padding: 0;
  }
  .h1 {
    text-align: center;
    font-family: serif;
  }
  /* Styles for course list items */
  .course-item {
    background-color: black;
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Styles for course names */
  .course-name {
    font-size: 15px;
  }
  
  /* Styles for course codes */
  .course-code {
    color: #555;
    font-size: 14px;
  }

  /* Add these styles to your courses.css file */
.course-card {
  border: none;
  border-radius: 10%;
  padding: 10px;
  width: 250px; /* Set a minimum width for each card */
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px; /* Add margin at the bottom for spacing */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #30405Bff;
}

.course-card p {
  margin: 8px 0;
}

.course-card button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.course-card button:hover {
  background-color: white;
  color: black;
}

/* Modal styles (you may adjust these to match your design) */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  width: 80%; /* Adjust the width as needed */
  height: 80%; /* Adjust the height as needed */
  max-width: 600px; /* Add a maximum width to prevent it from becoming too wide */
  max-height: 400px; /* Add a maximum height to prevent it from becoming too tall */
  overflow: auto; /* Add scrolling if the content overflows the modal */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 15px;
  text-align: left;
}


/* Style for the close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.more-button {
  margin-top: 5px;
  cursor: pointer;
}


  