/* header.css */

.header {
    background-color: #2d3250;
    color: white;
    padding: 10px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    padding: 5px 10px;
  }
  
  .nav-links li a {
    color: #fdd184;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  